
<main role="main" class="container">
	<div class="starter-template">

		<div class="row">

			<div class="col-6">

				<h2>{{welcome_msg}}</h2>

				<div id = "welcome" style = "display: none">
					<p>It's great to have you here, <span id="un" style="background: yellow"></span>!</p>
				</div>

				<div id = "authn" style = "display: none">
					<p class="lead" style="margin-top:20px">Please sign in or register to get started.</p>

					<div id = "widget-container" style = "display: none"></div>
				</div>

			</div>

			<div class="col-6">

				<img src="{{img_rt_col}}">

			</div>

		</div>
	</div>
</main>
