
			<div class="col-6">

				<h2>Flows</h2>

				<ul class="list-group" style="text-align: left">

				{{#each links}}

				<li class="list-group-item"><a href='{{uri}}'>{{name}}</a></li>

				{{/each}}

				</ul>

			</div>

			<div class="col-6">

				<img src="{{IMG_RT_COL}}">

			</div>
